/*
@File: Museum Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Go Top CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Banner Area CSS
** - Footer Area CSS

*******************************************
*/
/*
Default Style
============================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
  font-family: "Open Sans", sans-serif;
  color: #414141;
}

a {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  color: #414141;
}

a:hover {
  text-decoration: none;
  color: #262626;
}

a:focus {
  text-decoration: none;
}

button {
  outline: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #262626;
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 21px;
  line-height: 1.5;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

p {
  font-size: 15px;
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.form-control {
  border-radius: 0;
  background-color: #f5f5f5 !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none !important;
  height: 50px;
  padding-left: 15px;
  color: black;
  font-size: 15;
  font-weight: 500;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.form-control:-ms-input-placeholder {
  color: #999999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.form-control::-ms-input-placeholder {
  color: #999999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.form-control::placeholder {
  color: #999999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.form-control:focus::-webkit-input-placeholder {
  color: black;
}

.form-control:focus:-ms-input-placeholder {
  color: black;
}

.form-control:focus::-ms-input-placeholder {
  color: black;
}

.form-control:focus::placeholder {
  color: black;
}

textarea.form-control {
  padding-top: 15px;
  height: auto;
}

/*
Go Top Style*/
.go-top {
  position: fixed;
  cursor: pointer;
  top: 93%;
  right: -10%;
  background-color: #fb5f60;
  z-index: 4;
  width: 40px;
  text-align: center;
  height: 42px;
  line-height: 42px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.go-top i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
}

.go-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.go-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fb5f60;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.go-top:hover {
  color: #ffffff;
  background-color: #262626;
}

.go-top:hover::before {
  opacity: 1;
  visibility: visible;
}

.go-top:hover i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:hover i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.go-top:focus {
  color: #ffffff;
}

.go-top:focus::before {
  opacity: 1;
  visibility: visible;
}

.go-top:focus i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:focus i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.go-top.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
  right: 3%;
  top: 93%;
}

/** Section tittle Css **/
/** Section tittle Css **/
.section-title {
  position: relative;
  max-width: 695px;
  margin: -8px auto 60px;
  text-align: center;
}

.section-title h2 {
  font-size: 40px;
  text-transform: capitalize;
  color: #293a5c;
  margin-bottom: 10px;
}

.section-title h2 span {
  color: #fb5f60;
}

.section-title p {
  font-size: 18px;
}

/** Box Btn Css **/
.box-btn {
  font-size: 16px;
  color: #ffffff;
  padding: 12px 35px;
  line-height: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  background-color: black;
}

.box-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 50%;
  background-color: #fb5f60;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 50%;
  background-color: #fb5f60;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box-btn.border-btn {
  background-color: transparent;
  border: 1px solid #fff;
}

.box-btn:hover {
  color: #fff;
}

.box-btn:hover::before {
  left: 0;
}

.box-btn:hover::after {
  right: 0;
}

/*
Preloader Css
======================================================*/
.loader-content {
  background: #fbfafa;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  text-align: center;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube2::before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube3::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube4::before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
/*# sourceMappingURL=style.css.map */